* {
	font-family: 'Fredoka One', sans-serif;
	font-weight: 50;
	color: antiquewhite;
}

.message__user {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 100;
	padding-top: 30px;
}
.additional-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
	padding: 1rem 4rem 0 4rem;
}

.additional-content p {
	font-size: 16px;
	font-weight: normal;
}

#add-entry-button {
	background-color: #ff4079;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 40px;
	cursor: pointer;
}

#add-entry-button:hover {
	transition: 1s;
	background-color: #ffd5ad;
}

.bottom-line {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 2px;
	background-color: #ff4079;
	margin-bottom: 50px;
	margin-left: 80px;
}

@media (max-width: 320px) {
	* {
		font-weight: 300;
	}
	.message__user {
		padding-top: 15px;
		font-size: 7px;
		padding: 5px;
	}

	.additional-content {
		margin-top: 8px;
		padding: 0.5rem 2rem 0 2rem;
	}

	.additional-content p {
		font-size: 7px;
		font-weight: 100;
	}

	#add-entry-button {
		padding: 8px;
		font-size: 10px;
		margin-bottom: 10px;
	}

	.bottom-line {
		margin-bottom: 30px;
		width: 80%;
		display: flex;
		align-items: center;
	}
}
