.popular_albums {
	width: 200px;
	white-space: nowrap;
	overflow-x: auto;
}

.albums__img,
.album__icons {
	display: inline-block;
	vertical-align: top;
}

.albums__img {
	margin-right: 10px;
}

.Album-Cover {
	width: 100px;
	height: auto;
}

.album__icons svg {
	width: 20px;
	height: auto;
}

.album__icons p {
	margin-left: 5px;
}
