* {
	font-family: 'Fredoka One', sans-serif;
}

@media screen and (max-width: 500px) {
	.top-banner {
		height: 20px;
	}
	.user {
		font-size: 8px;
	}
	#logo img {
		width: 20px;
	}

	#search-form input[type='text'] {
		display: none;
	}
}

.top-banner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: linear-gradient(140deg, #ff4079 21.7%, #ffd5ad 78.56%);
	padding: 10px;
	height: 50px;
	border-radius: 0 0 10px 10px;
}

.user {
	display: flex;
	align-items: center;
	justify-content: center;
}

.Profile-Picture {
	height: 50px;
	width: 50px;
	border: 3px solid #ffd5ad;
	border-radius: 50%;
	margin-left: 5px;
	margin-right: 10px;
	margin-top: 5px;
}

.top-banner h3 {
	font-size: 1rem;
	color: #2b0a24;
}

#logo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 65px;
	margin-top: 8px;
	max-width: 100%; /* Asegurar que el ancho máximo del logo sea el 100% del contenedor */
	box-sizing: border-box; /* Incluir el padding en el ancho total del logo */
}

#search-form {
	display: flex;
	align-items: center;
	border-radius: 20px;
	overflow: hidden;
	margin-left: 10px;
}

#search-form input[type='text'] {
	flex: 1;
	padding: 8px;
	border: none;
	border-radius: 20px;
}
