* {
	font-family: 'Fredoka One', sans-serif; /* Aplicar la tipografía "Fredoka One" al componente */
	margin: 0;
}

.top-banner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: linear-gradient(140deg, #ff4079 21.7%, #ffd5ad 78.56%);
	padding: 10px;
	height: 50px;
	max-width: 100%; /* Asegurar que el ancho máximo del banner sea el 100% del contenedor */
	box-sizing: border-box; /* Incluir el padding en el ancho total del banner */
}

.user {
	display: flex;
	align-items: center;
	justify-content: center;
}

.Profile-Picture {
	height: 50px;
	width: 50px;
	border: 3px solid #ffd5ad;
	border-radius: 50%;
	margin-left: 5px;
	margin-right: 10px;
	margin-top: 5px;
}

.top-banner h3 {
	font-size: 1rem; /* Tamaño de fuente más pequeño */
	color: #2b0a24; /* Color del texto */
}

#logo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 65px;
	margin-top: 8px;
	max-width: 100%; /* Asegurar que el ancho máximo del logo sea el 100% del contenedor */
	box-sizing: border-box; /* Incluir el padding en el ancho total del logo */
}

#search-form {
	display: flex;
	align-items: center;
	border-radius: 20px;
	overflow: hidden;
	margin-left: 10px;
}

#search-form input[type='text'] {
	flex: 1;
	padding: 8px;
	border: none;
	border-radius: 20px;
}

/* Media query para pantallas de 320px */
@media screen and (max-width: 320px) {
	.user {
		display: flex;
		flex-direction: column; /* Cambiar la dirección del flexbox a columna */
		align-items: center;
		justify-content: center;
		margin-top: 5px; /* Añadir margen superior para separar la imagen y el nombre */
	}

	.Profile-Picture {
		height: 20px; /* Reducir el tamaño de la imagen de perfil */
		width: 20px;
	}

	.top-banner h3 {
		font-size: 0.5rem; /* Reducir el tamaño de fuente para pantallas pequeñas */
	}

	#logo {
		height: 30px; /* Reducir el tamaño del logo para pantallas de 320px */
	}

	#search-form input[type='text'] {
		padding: 5px; /* Reducir el padding del input para pantallas pequeñas */
		font-size: 0.5rem; /* Reducir el tamaño de fuente del input para pantallas pequeñas */
		width: 50%; /* Reducir el ancho del input para pantallas pequeñas */
		height: 15px; /* Reducir la altura del input para pantallas pequeñas */
	}

	.top-banner {
		height: 60px; /* Ajustar la altura del banner para pantallas de 320px */
	}
}
