* {
	font-family: 'Fredoka One', sans-serif; /* Aplicar la tipografía "Fredoka One" al componente */
	margin: 0; /* Eliminar el margen predeterminado */
}

.top-banner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 0.625rem;
	background: linear-gradient(140deg, #ff4079 21.7%, #ffd5ad 78.56%);
	padding: 10px;
	height: 50px;
}

.user {
	display: flex;
	align-items: center;
	justify-content: center;
}

.Profile-Picture {
	height: 50px;
	width: 50px;
	border: 3px solid #ffd5ad;
	border-radius: 50%;
	margin-left: 5px;
	margin-right: 10px;
	margin-top: 5px;
}

.top-banner h3 {
	font-size: 1rem; /* Tamaño de fuente más pequeño */
	color: #2b0a24; /* Color del texto */
}

#logo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 65px;
	margin-top: 8px;
}

#search-form {
	display: flex;
	align-items: center;
	border-radius: 20px;
	overflow: hidden;
	margin-left: 10px;
}

#search-form input[type='text'] {
	flex: 1;
	padding: 8px;
	border: none;
	border-radius: 20px;
}

#search-form::after {
	content: '\1F50D';
	font-size: 1.5rem;
	padding: 8px;
	color: #fff;
	cursor: pointer;
	background-color: #ffd5ad;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
